.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
    outline: 0;
}

.error-message {
    height: 15px;
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.is-done {
    opacity: 0.5;
}

.not-found {
    margin: 5px 0;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-header button {
    height: 20px;
    margin-left: 5px;
}